{% extends "base_dashboard.html" %}
{%block titulo%}Edição Atendido{%endblock%}
{% block conteudo %}
<div class="card pessoa" id = "pessoa">
	<div class="card-body">
		<h3>{{atendido.nome.capitalize()}}</h3>
		<div class= "form-validation">
			<form class="form-valide" action="{{url_for('plantao.editar_atendido', id_atendido = atendido.id)}}" method="POST" id="form">
				<input value="{{atendido.email}}" name="emailAtual" type="hidden">

				{% include "atendido_form.html" %}
				
				<button type="submit" class="btn btn-primary" id="button">Salvar Alteração</button>
			</form>

		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{% include "scriptCommon.html" %}
{% endblock %}